<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
  <title>Django</title>

  <!-- Hyperscript -->
  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.8.4"></script>

  <link rel="stylesheet" href="{% static 'theme/styles.css' %}">
  {% block css %}{% endblock css %}

</head>

<body hx-boost="true">
  <div class="">
    {% include "includes/navbar.html" %}
    <div class="max-w-screen-lg mx-auto mt-8">
      {% block content %}{% endblock content %}
    </div>
  </div>

  {% block js %}{% endblock js %}
</body>

</html>
