<!-- base_error.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'theme/styles.css' %}">
  {% block css %}{% endblock css %}

</head>

<body>
  <div class="">
    <div class="max-w-screen-lg mx-auto">
      {% block content %}{% endblock content %}
    </div>
  </div>

  {% block js %}{% endblock js %}
</body>

</html>
